In [3]:
import os

In [4]:
path_dir =os.listdir("./")

In [5]:
path = "./"+path_dir[1]
name_files_list = os.listdir(path)

In [6]:
import pandas as pd

In [7]:
train_df = pd.read_csv(path+"/train.tsv", delimiter='\t')
train_df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [31]:
train = train_df['Phrase'].values.tolist()

In [33]:
train = [sentence.split() for sentence in train]
train.max()

AttributeError: 'list' object has no attribute 'split'

In [8]:
test_df = pd.read_csv(path+"/test.tsv", delimiter='\t')
test_df.head()

   PhraseId  SentenceId                                             Phrase
0    156061        8545  An intermittently pleasing but mostly routine ...
1    156062        8545  An intermittently pleasing but mostly routine ...
2    156063        8545                                                 An
3    156064        8545  intermittently pleasing but mostly routine effort
4    156065        8545         intermittently pleasing but mostly routine

In [9]:
train_df.shape

(156060, 4)

In [10]:
train_df['SentenceId'].unique()
# 8544 句子

array([   1,    2,    3, ..., 8542, 8543, 8544], dtype=int64)

In [11]:
print(train_df['PhraseId'])
train_df['PhraseId'].unique()

0              1
1              2
2              3
3              4
4              5
5              6
6              7
7              8
8              9
9             10
10            11
11            12
12            13
13            14
14            15
15            16
16            17
17            18
18            19
19            20
20            21
21            22
22            23
23            24
24            25
25            26
26            27
27            28
28            29
29            30
           ...
156030    156031
156031    156032
156032    156033
156033    156034
156034    156035
156035    156036
156036    156037
156037    156038
156038    156039
156039    156040
156040    156041
156041    156042
156042    156043
156043    156044
156044    156045
156045    156046
156046    156047
156047    156048
156048    156049
156049    156050
156050    156051
156051    156052
156052    156053
156053    156054
156054    156055
156055    156056
156056    156057
156057    156058
156058    156059
156059    156060
Name: PhraseId, Length: 156060, dtype: int64

array([     1,      2,      3, ..., 156058, 156059, 156060], dtype=int64)

In [12]:
sub_df = pd.read_csv(path+"/sampleSubmission.csv")

In [13]:
sub_df

       PhraseId  Sentiment
0        156061          2
1        156062          2
2        156063          2
3        156064          2
4        156065          2
5        156066          2
6        156067          2
7        156068          2
8        156069          2
9        156070          2
10       156071          2
11       156072          2
12       156073          2
13       156074          2
14       156075          2
15       156076          2
16       156077          2
17       156078          2
18       156079          2
19       156080          2
20       156081          2
21       156082          2
22       156083          2
23       156084          2
24       156085          2
25       156086          2
26       156087          2
27       156088          2
28       156089          2
29       156090          2
...         ...        ...
66262    222323          2
66263    222324          2
66264    222325          2
66265    222326          2
66266    222327          2
66267    222328          2
66268    222329          2
66269    222330          2
66270    222331          2
66271    222332          2
66272    222333          2
66273    222334          2
66274    222335          2
66275    222336          2
66276    222337          2
66277    222338          2
66278    222339          2
66279    222340          2
66280    222341          2
66281    222342          2
66282    222343          2
66283    222344          2
66284    222345          2
66285    222346          2
66286    222347          2
66287    222348          2
66288    222349          2
66289    222350          2
66290    222351          2
66291    222352          2

[66292 rows x 2 columns]

In [14]:
a = train_df['Sentiment'].value_counts()
print(a.values,list(a.index))

[79582 32927 27273  9206  7072] [2, 3, 1, 4, 0]

In [15]:
import matplotlib.pyplot as plt
plt.bar(list(a.index), a.values)
plt.show()

In [16]:
from sklearn.utils import shuffle

In [17]:
s = ([[1,2,3],[4,3,2],[12,3,34]],[1,2,4])

In [18]:
x, y =s
shuffle(x, y)

[[[1, 2, 3], [12, 3, 34], [4, 3, 2]], [1, 4, 2]]

In [19]:
from collections import defaultdict
op = defaultdict(int)
op[1]

0

In [20]:
def iter_num():
    for i in range(10):
        yield i,i+1
g = iter_num()

In [21]:
import os
print(os.getcwd())

D:\celeba4\project_env\base_nlp\based_ML_and_bag_word

In [22]:
import json

In [23]:
p = [[1,2], [2, 3]]
dir_pth = os.path.join(os.path.dirname(os.getcwd()), "source")
file_pth = os.path.join(dir_pth, 'test.json')

f = open(file_pth, 'w')
json.dump(p, f, indent=2, ensure_ascii=False)
f.close()

In [24]:
import numpy as np
from sklearn.preprocessing import LabelBinarizer
enc=LabelBinarizer()
a = enc.fit_transform(np.array([1,2,3,4]))
a.tolist()

[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1]]

In [34]:
a = np.array([1, 2, 5, 6])
def softmax(x):
    e_x = np.exp(x - np.max(x))
    return e_x/e_x.sum()

In [35]:
softmax(a)

array([0.00483724, 0.01314897, 0.26410418, 0.71790961])

In [36]:
def softmax2(x):
    e_x =x
    return e_x/e_x.sum()

In [37]:
softmax2(a)

array([0.07142857, 0.14285714, 0.35714286, 0.42857143])

In [38]:
import datetime
a = datetime.datetime.now()
print(a.year)

2021

In [42]:
print(a.month, a.day, a.hour, a.minute, a.second)

8 31 15 45 14